@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #ff9f00;
  --secondary-color: #fa382e;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/master_terny.png');
  position: cover;
  background-size: cover;
}